.page-footer {
  background-color: #6f4954;
  font-size: 12px;
  margin-top: 20px;
  color: #ffdca2;

  &__copyright {
    font-size: 16px;
  }

  &__link {
    text-decoration: none;
    font-weight: 400;
    color: #ffdca2;
    -webkit-transition: .5s ease;
    transition: .5s ease;

    &:hover {
      color: #fdb966;
    }
  }
}