.page-header {
  height: 72px;
  background-color: #6f4954;
  position: relative;
  overflow: hidden;


  &__logo {
    height: 115px;
    position: absolute;
    top: -22px;
  }
}

.main-nav {
  padding-left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__item {
    display: inline-block;
    padding-top: 8px;
  }

  &__link {
    font-family: @opensans;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #ffdca2;
    border-bottom: 1px solid transparent;
    -webkit-transition: .5s ease;
    transition: .5s ease;

    &:hover {
      color: #fdb966;
      border-bottom: 1px solid #fdb966;
    }
  }
}