.page-header {
  min-height: 72px;
  background-color: #6f4954;
  position: relative;
  overflow: hidden;
}

.main-nav {
  padding-left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    display: inline-block;
    padding-top: 8px;
    padding-left: 70px;
  }

  &__link {
    font-family: @opensans;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #ffdca2;
    border-bottom: 1px solid transparent;
    -webkit-transition: .5s ease;
    transition: .5s ease;

    &:hover {
      color: #fdb966;
      border-bottom: 1px solid #fdb966;
    }
  }
}

.hamburger {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 4%;
  transform: translateY(-50%);

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 4px;
    background-color: @orange;

    &:before, &:after {
      content: '';
      display: block;
      width: 40px;
      height: 4px;
      background-color: @orange;
    }

    &:before {
      transform: translateY(-250%);
    }

    &:after {
      transform: translateY(150%);
    }
  }
}

.hamburger-opened {
  display: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  line-height: 3.57em;
}

.hamburger-opened__item {
  display: block;
  width: 100%;
  border-bottom: 1px solid @orange;
  margin-top: -1px;
}