.page-footer {
  min-height: 50px;
  // background-color: #c4c3c3;
  margin-top: 25px;
  // border-top: 1px solid #909090;
  font-family: @opensans;
  font-weight: bold;

  &__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  p {
    color: #000;
    padding-top: 12px;
    padding-left: 12px;
    margin: 0;
  }

  a {
    color: #000;
    padding-top: 12px;
    padding-left: 12px;
    margin: 0;
    text-decoration: none;
  }
}