.promo {
  text-align: center;

  &__img {
  @media (min-width: @screen-sm) {
    padding-top: 27px;
   }
  }

  &__inner {
    padding: 20px;
    color: #000;

   @media (min-width: @screen-sm) {
    text-align: left;
   }
  }

  &__title-text {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    font-family: @opensans;

  @media (min-width: @screen-sm) {
    font-size: 20px;
   }
  }

  &__text {
    font-size: 16px;
    text-align: left;

    &--right {
      text-align: right;
    }
  @media (min-width: @screen-sm) {
    font-size: 18px;
   }
  }
}

