.requests {
  padding: 30px;
  text-align: center;

  &__title {
    font-family: @opensans;
    font-size: 26px;
    margin-top: 10px;
  }

  &__item {
    list-style-type: none;
    position: relative;
    padding: 5px;
    text-align: left;
  }

  &__img {
    position: absolute;
    left: -55px;
    top: 20px;
  }
}