.review {
  padding: 25px 0;

  &--bgr {
    background-color: rgba(111, 73, 84, .6);

  }

  &__img {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
  }

  &__name {
    font-family: @opensans;
    font-size: 26px;
    margin-top: 10px;
  }
}