.training {
  padding: 25px 0;

  &__img {
    padding-top: 18px;
  }

  &__title {
    font-family: @opensans;
    font-size: 26px;
    margin-top: 10px;
  }

  &__text {
    &--last {
      margin-bottom: 25px;
    }
  }

  &__btn {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #6f4954;
    border: 1px solid #999596;
    transition: .5s ease;

    &:hover {
      background-color: #fd666d;
    }
  }
}